.full-post-comments {
    font-size: 12px;
    text-align: left;
    text-shadow: 2px 1px white;
    color: lighten(brown, 5%);

    small {
        color: #777;
        font-size: 11px;
    };
};

.comment {
    font-family: Arial, Helvetica, sans-serif;
}
