.full-post-form {
    color: #333;
    text-shadow: 2px 1px white;
};

.submit-btn-container {
    margin: 20px 0 10px 0;

    button {
        letter-spacing: .2em;
        font-family: sans;
        font-size: .9em;
    }
}
