@import './settings';

body {
    background: $wallpaper;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;

    @media (max-width: 800px) {
      background: $wallpaperSmall;
      background-size: contain;
    }
}

hr {
  width: 5%;
  border: 1px dashed lightsalmon;
}
